<section id="cardQuestion" type="text/ng-template">     

        <div class="modal-header">
            <h3 class="modal-title">{{cardQuestionText}}</h3>
        </div>
        <div class="modal-body">            
              <ul>
                <li ng-repeat="possibleAnswer in cardPossibleAnswers">
                    <div class="radio">
                      <label>
                        <input type="radio" ng-model="answer.id" ng-value="'foo'">
                            {{ possibleAnswer.text }}
                        </input>
                      </label>                      
                    </div>                    
                </li>
              </ul>                        
        </div>
        <div class="modal-footer">            
            <button class="btn btn-primary" type="button" ng-click="confirmar(answer)">confirmar</button>        
        </div>    
</section>