<section id="dashboard" data-ng-init="init()">
    <div class="row">
      <div class="col-md-10">

          <div class="row" id="lado">
            <div class="col-md-12">

                <!-- deck and cartas -->
                <div class="row">
                    <div class="col-md-2 mesa">
                        <div id="carta" class="marrom">
                            <p>DECK</p>
                        </div>
                    </div>
                    <div class="col-md-10 mesa">
                        <div class="row">
                            <div ng-repeat="card in player2.availableCards">
                                <div class="grid-carta-mesa" ng-click="move(player2.username, $index)">
                                    <div id="carta" class="marrom-claro">

                                    </div>
                                </div>
                              </div>
                          </div>
                    </div>
                </div>
                <!-- personagens e decoracao -->
                <div class="row" id="header">
                    <div class="col-md-6">
                        <div id="carta"  class="marrom-escuro">
                            <p>PERSONAGEM</p>
                            <p>Ataque: {{ player2.character.attack }}</p>
                            <p>Defesa: {{ player2.character.defense }}</p>
                            <p>Vida: {{ player2.character.life }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="carta"  class="marrom-escuro" ng-class="{geography: player2.cardsInGame[0].subject.name == 'Geography' , history: player2.cardsInGame[0].subject.name == 'History', math: player2.cardsInGame[0].subject.name == 'Math', portuguese: player2.cardsInGame[0].subject.name == 'Portuguese', science: player2.cardsInGame[0].subject.name == 'Science'}">
                          <div ng-if="player2.cardsInGame[0].subject.name">
                            <div class="card-labels">
                              <p>{{ player2.cardsInGame[0].attack }} Ataque </p>
                              <p>{{ player2.cardsInGame[0].defense }} Defesa </p>
                              <p>{{ player2.cardsInGame[0].life }} Vida </p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="round" ng-class="player2.timeToPlay ? 'on' : 'off'"></div>
                        <p class='round-texto'>{{player2.username}}</p>
                  </div>
                </div>

            </div>
          </div>


                              <!-- divisao -->


          <div class="row" id="lado">
              <div class="col-md-12">

                  <div class="row">
                      <div class="col-md-12">
                          <div id="round" ng-class="player1.timeToPlay ? 'on' : 'off'"></div>
                          <p class='round-texto'>{{player1.username}}</p>
                    </div>
                  </div>

                  <div class="row" id="header">
                      <div class="col-md-6">
                          <div id="carta"  class="marrom-escuro">
                              <p>PERSONAGEM</p>
                              <p>Ataque: {{ player1.character.attack }}</p>
                              <p>Defesa: {{ player1.character.defense }}</p>
                              <p>Vida: {{ player1.character.life }}</p>
                          </div>
                      </div>

                      <!-- open modal -->
                      <div class="col-md-6">
                          <div id="carta"  class="marrom-escuro" ng-click="open(player1, player1.cardsInGame[0])" ng-class="{geography: player1.cardsInGame[0].subject.name == 'Geography' , history: player1.cardsInGame[0].subject.name == 'History', math: player1.cardsInGame[0].subject.name == 'Math', portuguese: player1.cardsInGame[0].subject.name == 'Portuguese', science: player1.cardsInGame[0].subject.name == 'Science'}">
                            <div ng-if="player1.cardsInGame[0].subject.name">
                              <div class="card-labels">
                                <p>{{ player1.cardsInGame[0].attack }} Ataque </p>
                                <p>{{ player1.cardsInGame[0].defense }} Defesa </p>
                                <p>{{ player1.cardsInGame[0].life }} Vida </p>
                              </div>
                            </div>
                          </div>
                      </div>


                  </div>

                  <!-- deck and cartas -->
                  <div class="row">
                      <div class="col-md-2 mesa">
                          <div id="carta" class="marrom">
                              <p>DECK</p>
                          </div>
                      </div>
                      <div class="col-md-10 mesa">

                          <div class="row">
                            <div ng-repeat="card in player1.availableCards">
                                <div class="grid-carta-mesa" ng-click="move(player1.username, $index)">
                                    <div id="carta" class="marrom-claro " ng-class="{geography: card.subject.name == 'Geography' , history: card.subject.name == 'History', math: card.subject.name == 'Math', portuguese: card.subject.name == 'Portuguese', science: card.subject.name == 'Science'}">
                                        <!-- <img src="img/cardGeography.png" /> -->
                                        <!-- <p>{{ card.subject.name }}</p> -->
                                        <div class="card-labels">
                                          <p>{{ card.attack }} Ataque </p>
                                          <p>{{ card.defense }} Defesa </p>
                                          <p>{{ card.life }} Vida </p>
                                        </div>
                                    </div>
                                </div>
                              </div>
                          </div>

                      </div>
                  </div>
                  <!-- personagens e decoracao -->

              </div>
        </div>

      </div>
      <div class="col-md-2">
          <div id="audiencia">
             <h1>{{onlinePlayers.length}} next players</h1>
          </div>
          <ul>
             <li class="animate-repeat" ng-repeat="onlinePlayer in onlinePlayers">
                {{onlinePlayer.username}}
              </li>
          </ul>
      </div>
    </div>


</section>
